﻿
@model Customers.Model.Services.ServicesVm



@using (Html.BeginForm("Create", "ManageServices", new { area = "BasicInput" }, System.Web.Mvc.FormMethod.Post, new { id = "ModelForm", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @*@<div id="myModalAdd" class="modal fade" role="dialog">*@
    <div class="modal-dialog modal-lg" style="width:1000px;">
        <div class="modal-content" style="width:1000px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">@BasicInputRes.Details</h4>
            </div>
            <div class="modal-body" style="width:1000px;">
                <div class="panel">
                    @*<div class="panel-heading">
                            <span class="panel-title hidden-xs">@BasicInputRes.CustomerActivitiesDetails</span>
                        </div>*@
                    <div class="panel-body p25 pb5">
                        <div class="tab-content pn br-n admin-form">
                            <div id="tab1_1" class="tab-pane active">
                                <div class="form-group row">
                                    <div class="col-md-2">
                                        @Html.HiddenFor(model => model.Id)
                                        @Html.LabelFor(mode => mode.ServiceNameAr, htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="col-md-4">
                                        @*@Html.EditorFor(model => model.NameAr, new { htmlAttributes = new { @class = "form-control" } })*@


                                        <input type="text" class="form-control" id="ServiceNameAr" name="ServiceNameAr" value="@Model.ServiceNameAr">
                                    </div>

                                    <div class="col-md-2">
                                        @Html.LabelFor(mode => mode.ServiceNameEn, htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" id="ServiceNameEn" name="ServiceNameEn" value="@Model.ServiceNameEn">

                                        @*@Html.EditorFor(model => model.NameEn, new { htmlAttributes = new { @class = "form-control input-circle" } })*@
                                    </div>
                                </div>


                                <br />
                                <div class="row">

                                  

                                    <div class="col-md-2">
                                        @Html.LabelFor(mode => mode.Price, htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" id="Price" name="Price" value="@Model.Price">

                                        @*@Html.EditorFor(model => model.CustomerAddress, new { htmlAttributes = new { @class = "form-control input-circle" } })*@
                                    </div>

                                    <div class="col-md-2">
                                        @Html.LabelFor(mode => mode.Time, htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" id="Time" name="Time" value="@Model.Time">

                                        @*@Html.EditorFor(model => model.CustomerWebSite, new { htmlAttributes = new { @class = "form-control input-circle" } })*@
                                    </div>

                                </div>

                                <br />
                             


                              

                              
                                
                              
                                <div class="row">
                                    <div class="col-md-5">

                                    </div>
                                    <div class="col-md-5">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">@GlobalRes.btnCancel</button>

                                        <input type="button" value="@GlobalRes.btnSave" class="btn yellow Saveee" onclick="Save()" />
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="myModalAddEditDesign" role="dialog" data-backdrop="static"></div>






}








<script>
    $(document).ready(function () {
        $("input[type=text]").addClass("gui-input");
    });
</script>


