﻿@using Customers.Helpers.Utilities;
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
    <meta name="author" content="Coderthemes">

    <link rel="shortcut icon" href="~/assets/images/favicon_1.ico">

    <title>@GlobalRes.CustomerServices</title>

    @*<link href="~/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />*@

    <link href="~/plugins/switchery/switchery.min.css" rel="stylesheet" />
    <link href="~/plugins/jquery-circliful/css/jquery.circliful.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/plugins/morris/morris.css">

    @if (ResourcesReader.IsArabic)
    {
        <link href="~/assets/css/AR/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="~/assets/css/AR/icons.css" rel="stylesheet" type="text/css">
        <link href="~/assets/css/AR/style.css" rel="stylesheet" type="text/css">

    }
    else
    {
        <link href="~/assets/css/EN/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="~/assets/css/EN/icons.css" rel="stylesheet" type="text/css">
        <link href="~/assets/css/EN/style.css" rel="stylesheet" type="text/css">
    }

    <script src="~/assets/js/modernizr.min.js"></script>


</head>

<body class="fixed-left">

    <!-- Begin page -->
    <div id="wrapper">

        <!-- Top Bar Start -->
        <div class="topbar">

            <!-- LOGO -->
            <div class="topbar-left">
                <div class="text-center">
                    <a href="index.html" class="logo"><i class="mdi mdi-radar"></i> <span> @GlobalRes.CustomerServices</span></a>
                </div>
            </div>
        
            <!-- Button mobile view to collapse sidebar menu -->
            <nav class="navbar-custom">
        
                <ul class="list-inline float-right mb-0">
                    @Html.Partial("~/Views/Base/ToggleLanguage.cshtml")
                    <li class="list-inline-item notification-list hide-phone">
                        <a class="nav-link waves-light waves-effect" href="#" id="btn-fullscreen">
                            <i class="mdi mdi-crop-free noti-icon"></i>
                        </a>
                    </li>
                  
                    <li class="list-inline-item dropdown notification-list">
                        <a class="nav-link dropdown-toggle arrow-none waves-light waves-effect" data-toggle="dropdown" href="#" role="button"
                           aria-haspopup="false" aria-expanded="false">
                            <i class="mdi mdi-bell noti-icon"></i>
                            <span class="badge badge-pink noti-icon-badge">4</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-arrow dropdown-menu-lg" aria-labelledby="Preview">
                            <!-- item-->
                            <div class="dropdown-item noti-title">
                                <h5 class="font-16"><span class="badge badge-danger float-right">5</span>Notification</h5>
                            </div>

                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <div class="notify-icon bg-success"><i class="mdi mdi-comment-account"></i></div>
                                <p class="notify-details">Robert S. Taylor commented on Admin<small class="text-muted">1 min ago</small></p>
                            </a>

                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <div class="notify-icon bg-info"><i class="mdi mdi-account"></i></div>
                                <p class="notify-details">New user registered.<small class="text-muted">1 min ago</small></p>
                            </a>

                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <div class="notify-icon bg-danger"><i class="mdi mdi-airplane"></i></div>
                                <p class="notify-details">Carlos Crouch liked <b>Admin</b><small class="text-muted">1 min ago</small></p>
                            </a>

                            <!-- All-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item notify-all">
                                View All
                            </a>

                        </div>
                    </li>
               
                    <li class="list-inline-item dropdown notification-list">
                        <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-toggle="dropdown" href="#" role="button"
                           aria-haspopup="false" aria-expanded="false">
                            <img src="assets/images/users/avatar-1.jpg" alt="user" class="rounded-circle">
                        </a>
                        <div class="dropdown-menu dropdown-menu-right profile-dropdown " aria-labelledby="Preview">
                            <!-- item-->
                            <div class="dropdown-item noti-title">
                                <h5 class="text-overflow"><small>Welcome ! John</small> </h5>
                            </div>

                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <i class="mdi mdi-account-star-variant"></i> <span>Profile</span>
                            </a>

                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <i class="mdi mdi-settings"></i> <span>Settings</span>
                            </a>

                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <i class="mdi mdi-lock-open"></i> <span>Lock Screen</span>
                            </a>

                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <i class="mdi mdi-logout"></i> <span>Logout</span>
                            </a>

                        </div>
                    </li>

                </ul>

                <ul class="list-inline menu-left mb-0">
                    <li class="float-left">
                        <button class="button-menu-mobile open-left waves-light waves-effect">
                            <i class="mdi mdi-menu"></i>
                        </button>
                    </li>
                    @*<li class="hide-phone app-search">
                        <form role="search" class="">
                            <input type="text" placeholder="Search..." class="form-control">
                            <a href=""><i class="fa fa-search"></i></a>
                        </form>
                    </li>*@
                </ul>

            </nav>

        </div>
        <!-- Top Bar End -->
        <!-- ========== Left Sidebar Start ========== -->
     
        <div class="left side-menu">
            <div class="sidebar-inner slimscrollleft">
                <!--- Divider -->
                <div id="sidebar-menu">
                    <ul>
                        @*<li class="menu-title">Main</li>*@

                        <li>
                            <a href="@Url.Action("Index", "Home", new { area = "" })" class="waves-effect waves-primary">
                                <i class="ti-home"></i><span>@GlobalRes.MainPage</span>
                            </a>
                        </li>

                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect waves-primary">
                                <i class="ti-paint-bucket"></i> <span> @GlobalRes.BasicInput </span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul class="list-unstyled">
                                <li><a href="@Url.Action("Index1", "ManageCustomerActivities", new { area = "BasicInput" })">@GlobalRes.CustomerActivities</a></li>
                                <li><a href="@Url.Action("Index1", "ManageCustomerStatus", new { area = "BasicInput" })">@GlobalRes.CustomerStatus</a></li>
                                <li><a href="@Url.Action("Index1", "ManageEmployeeSpecializations", new { area = "BasicInput" })">@GlobalRes.EmployeeSpecializations</a></li>
                                <li><a href="@Url.Action("Index1", "ManageTasksAnalysis", new { area = "BasicInput" })">@GlobalRes.TasksAnalysis</a></li>
                                <li><a href="@Url.Action("Index1", "ManageTasksEngineers", new { area = "BasicInput" })">@GlobalRes.TasksEngineers</a></li>
                                <li><a href="@Url.Action("Index1", "ManageWorkSystem", new { area = "BasicInput" })">@GlobalRes.WorkSystem</a></li>
                               
                                <li><a href="@Url.Action("Index1", "ManageServices", new { area = "BasicInput" })">@GlobalRes.Services</a></li>
                                <li><a href="@Url.Action("Index1", "ManageItems", new { area = "BasicInput" })">@GlobalRes.Items</a></li>
                                <li><a href="@Url.Action("Index1", "ManageCustomers", new { area = "BasicInput" })">@GlobalRes.Customers</a></li>
                                <li><a href="@Url.Action("Index1", "ManageContracts", new { area = "BasicInput" })">@GlobalRes.Contracts</a></li>
                                <li><a href="@Url.Action("Index1", "ManagePricesOffers", new { area = "BasicInput" })">@GlobalRes.PriceOffers</a></li>
                                <li><a href="@Url.Action("Index1", "ManageEmployees", new { area = "BasicInput" })">@GlobalRes.Employees</a></li>
                            </ul>
                        </li>

                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect waves-primary">
                                <i class="ti-paint-bucket"></i> <span> @GlobalRes.Marketing  </span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul class="list-unstyled">
                                <li>@*<a href="@Url.Action("Index1", "ManageCustomers", new { area = "BasicInput" })">@GlobalRes.Customers</a>*@</li>
                            </ul>
                        </li>
                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect waves-primary">
                                <i class="ti-paint-bucket"></i> <span> @GlobalRes.PriceOffers  </span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul class="list-unstyled">

                            </ul>
                        </li>
                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect waves-primary">
                                <i class="ti-paint-bucket"></i> <span> @GlobalRes.Contracts  </span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul class="list-unstyled">

                            </ul>
                        </li>
                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect waves-primary">
                                <i class="ti-paint-bucket"></i> <span> @GlobalRes.Analysis  </span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul class="list-unstyled">

                            </ul>
                        </li>

                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect waves-primary">
                                <i class="ti-paint-bucket"></i> <span> @GlobalRes.Running  </span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul class="list-unstyled"></ul>
                        </li>

                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect waves-primary">
                                <i class="ti-paint-bucket"></i> <span> @GlobalRes.SupportRequests  </span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul class="list-unstyled"></ul>
                        </li>

                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect waves-primary">
                                <i class="ti-paint-bucket"></i> <span> @GlobalRes.Engineers  </span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul class="list-unstyled"></ul>
                        </li>

                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect waves-primary">
                                <i class="ti-paint-bucket"></i> <span> @GlobalRes.Visits  </span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul class="list-unstyled"></ul>
                        </li>
                        @*<li>
                            <a href="typography.html" class="waves-effect waves-primary">
                                <i class="ti-infinite"></i><span> Typography </span><span class="badge badge-pink pull-right">1</span>
                            </a>
                        </li>

                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect waves-primary">
                                <i class="ti-light-bulb"></i><span> Components </span> <span class="menu-arrow"></span>
                            </a>
                            <ul class="list-unstyled">
                                <li><a href="components-grid.html">Grid</a></li>
                                <li><a href="components-carousel.html">Carousel</a></li>
                                <li><a href="components-widgets.html">Widgets</a></li>
                                <li><a href="components-nestable-list.html">Nesteble</a></li>
                                <li><a href="components-range-sliders.html">Range Sliders </a></li>
                                <li><a href="components-sweet-alert.html">Sweet Alerts </a></li>
                            </ul>
                        </li>

                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect waves-primary">
                                <i class="ti-spray"></i>
                                <span> Icons </span> <span class="menu-arrow"></span>
                            </a>
                            <ul class="list-unstyled">
                                <li><a href="icons-materialdesign.html">Material Design</a></li>
                                <li><a href="icons-themifyicon.html">Themify Icons</a></li>
                                <li><a href="icons-ionicons.html">Ion Icons</a></li>
                                <li><a href="icons-fontawesome.html">Font awesome</a></li>
                                <li><a href="icons-weather.html">Weather Icons</a></li>
                            </ul>
                        </li>

                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect waves-primary"><i class="ti-pencil-alt"></i><span> Forms </span> <span class="menu-arrow"></span></a>
                            <ul class="list-unstyled">
                                <li><a href="form-elements.html">General Elements</a></li>
                                <li><a href="form-advanced.html">Advanced Form</a></li>
                                <li><a href="form-validation.html">Form Validation</a></li>
                                <li><a href="form-wizard.html">Form Wizard</a></li>
                                <li><a href="form-wysiwig.html">WYSIWYG Editor</a></li>
                                <li><a href="form-summernote.html">Summernote</a></li>
                                <li><a href="form-uploads.html">Multiple File Upload</a></li>
                                <li><a href="form-xeditable.html">X-editable</a></li>
                            </ul>
                        </li>

                        <li class="menu-title">More</li>

                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect waves-primary"><i class="ti-menu-alt"></i><span> Tables </span> <span class="menu-arrow"></span></a>
                            <ul class="list-unstyled">
                                <li><a href="tables-basic.html">Basic Tables</a></li>
                                <li><a href="tables-datatable.html">Data Table</a></li>
                                <li><a href="tables-editable.html">Editable Table</a></li>
                                <li><a href="tables-responsive.html">Responsive Table</a></li>
                                <li><a href="tables-tablesaw.html">Tablesaw Table</a></li>
                                <li><a href="tables-foo-tables.html">Foo Table</a></li>
                            </ul>
                        </li>

                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect waves-primary">
                                <i class="ti-stats-up"></i><span> Charts </span> <span class="badge badge-primary pull-right">8</span>
                            </a>
                            <ul class="list-unstyled">
                                <li><a href="chart-flot.html">Flot Chart</a></li>
                                <li><a href="chart-morris.html">Morris Chart</a></li>
                                <li><a href="chart-chartist.html">Chartist chart</a></li>
                                <li><a href="chart-nvd3.html">Nvd3 charts</a></li>
                                <li><a href="chart-chartjs.html">Chartjs charts</a></li>
                                <li><a href="chart-peity.html">Peity Charts</a></li>
                                <li><a href="chart-sparkline.html">Sparkline Charts</a></li>
                                <li><a href="chart-other.html">Other Chart</a></li>
                            </ul>
                        </li>

                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect waves-primary">
                                <i class="ti-map"></i><span> Maps </span><span class="menu-arrow"></span>
                            </a>
                            <ul class="list-unstyled">
                                <li><a href="map-google.html"> Google Map</a></li>
                                <li><a href="map-vector.html"> Vector Map</a></li>
                            </ul>
                        </li>

                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect waves-primary">
                                <i class="ti-email"></i><span> Mail </span> <span class="menu-arrow"></span>
                            </a>
                            <ul class="list-unstyled">
                                <li><a href="mail-inbox.html">Inbox</a></li>
                                <li><a href="mail-compose.html">Compose Mail</a></li>
                                <li><a href="mail-read.html">View Mail</a></li>
                            </ul>
                        </li>

                        <li class="menu-title">Extras</li>

                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect waves-primary">
                                <i class="ti-files"></i><span> Pages </span> <span class="menu-arrow"></span>
                            </a>
                            <ul class="list-unstyled">
                                <li><a href="pages-blank.html">Blank Page</a></li>
                                <li><a href="pages-login.html">Login</a></li>
                                <li><a href="pages-register.html">Register</a></li>
                                <li><a href="pages-recoverpw.html">Recover Password</a></li>
                                <li><a href="pages-lock-screen.html">Lock Screen</a></li>
                                <li><a href="pages-confirmmail.html">Confirm Mail</a></li>
                                <li><a href="pages-404.html">404 Error</a></li>
                                <li><a href="pages-500.html">500 Error</a></li>
                            </ul>
                        </li>

                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect waves-primary">
                                <i class="ti-gift"></i><span> Extras </span> <span class="badge badge-success pull-right">12</span>
                            </a>
                            <ul class="list-unstyled">
                                <li><a href="extras-profile.html">Profile</a></li>
                                <li><a href="extras-team.html">Team Members</a></li>
                                <li><a href="extras-timeline.html">Timeline</a></li>
                                <li><a href="extras-invoice.html">Invoice</a></li>
                                <li><a href="extras-calendar.html">Calendar</a></li>
                                <li><a href="extras-email-template.html">Email template</a></li>
                                <li><a href="extras-maintenance.html">Maintenance</a></li>
                                <li><a href="extras-coming-soon.html">Coming-soon</a></li>
                                <li><a href="extras-gallery.html">Gallery</a></li>
                                <li><a href="extras-pricing.html">Pricing</a></li>
                                <li><a href="extras-faq.html">FAQ</a></li>
                                <li><a href="extras-treeview.html">Treeview</a></li>
                            </ul>
                        </li>
                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect"><i class="ti-share"></i><span>Multi Level </span> <span class="menu-arrow"></span></a>
                            <ul>
                                <li class="has_sub">
                                    <a href="javascript:void(0);" class="waves-effect"><span>Menu Level 1.1</span>  <span class="menu-arrow"></span></a>
                                    <ul style="">
                                        <li><a href="javascript:void(0);"><span>Menu Level 2.1</span></a></li>
                                        <li><a href="javascript:void(0);"><span>Menu Level 2.2</span></a></li>
                                        <li><a href="javascript:void(0);"><span>Menu Level 2.3</span></a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:void(0);"><span>Menu Level 1.2</span></a>
                                </li>
                            </ul>
                        </li>*@

                    </ul>

                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- Left Sidebar End -->
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="content-page">
            <!-- Start content -->
            <div class="content">
                <div class="container-fluid">

                    @RenderBody()
                    </div>
                </div>
            </div>
                    <!-- ============================================================== -->
                    <!-- End Right content here -->
                    <!-- ============================================================== -->
                    <!-- Right Sidebar -->
                    
                    <!-- /Right-bar -->

                </div>
                <!-- END wrapper -->



                <script>
                    var resizefunc = [];
                </script>


                <!-- Plugins  -->
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

                @*<script src="~/assets/js/jquery.min.js"></script>*@



    @*<script src="~/assets/js/jquery.min.js"></script>*@

                <script src="~/assets/js/popper.min.js"></script><!-- Popper for Bootstrap -->
                <script src="~/assets/js/bootstrap.min.js"></script>
                <script src="~/assets/js/detect.js"></script>
                <script src="~/assets/js/fastclick.js"></script>
                <script src="~/assets/js/jquery.slimscroll.js"></script>
                <script src="~/assets/js/jquery.blockUI.js"></script>
                <script src="~/assets/js/waves.js"></script>
                <script src="~/assets/js/wow.min.js"></script>
                <script src="~/assets/js/jquery.nicescroll.js"></script>
                <script src="~/assets/js/jquery.scrollTo.min.js"></script>
                <script src="~/plugins/switchery/switchery.min.js"></script>


    <!-- Required datatable js -->
    @*<script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/plugins/datatables/dataTables.bootstrap4.min.js"></script>
    <!-- Buttons examples -->
    <script src="~/plugins/datatables/dataTables.buttons.min.js"></script>
    <script src="~/plugins/datatables/buttons.bootstrap4.min.js"></script>
    <script src="~/plugins/datatables/jszip.min.js"></script>
    <script src="~/plugins/datatables/pdfmake.min.js"></script>
    <script src="~/plugins/datatables/vfs_fonts.js"></script>
    <script src="~/plugins/datatables/buttons.html5.min.js"></script>
    <script src="~/plugins/datatables/buttons.print.min.js"></script>
    <script src="~/plugins/datatables/buttons.colVis.min.js"></script>
    <!-- Responsive examples -->
    <script src="~/plugins/datatables/dataTables.responsive.min.js"></script>
    <script src="~/plugins/datatables/responsive.bootstrap4.min.js"></script>*@

                <script src="~/Scripts/jquery-ui.min.js"></script>
                <script src="~/Scripts/jquery.extention.js"></script>
                <script src="~/Scripts/toastr.min.js"></script>

    @*-----------------------------------------Start DataTable------------------------------------------------*@

    <link href="~/assets/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />

    <!-- Required datatable js -->
    <script src="~/assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/assets/plugins/datatables/dataTables.bootstrap4.min.js"></script>
    <!-- Buttons examples -->
    <script src="~/assets/plugins/datatables/dataTables.buttons.min.js"></script>
    <script src="~/assets/plugins/datatables/buttons.bootstrap4.min.js"></script>
    <script src="~/assets/plugins/datatables/jszip.min.js"></script>
    <script src="~/assets/plugins/datatables/pdfmake.min.js"></script>
    <script src="~/assets/plugins/datatables/vfs_fonts.js"></script>
    <script src="~/assets/plugins/datatables/buttons.html5.min.js"></script>
    <script src="~/assets/plugins/datatables/buttons.print.min.js"></script>
    <script src="~/assets/plugins/datatables/buttons.colVis.min.js"></script>
    <!-- Responsive examples -->
    <script src="~/assets/plugins/datatables/dataTables.responsive.min.js"></script>
    <script src="~/assets/plugins/datatables/responsive.bootstrap4.min.js"></script>
    @*-----------------------------------------End DataTable------------------------------------------------*@

                <!-- Counter Up  -->
                <script src="~/plugins/waypoints/lib/jquery.waypoints.min.js"></script>
                <script src="~/plugins/counterup/jquery.counterup.min.js"></script>

                <!-- circliful Chart -->
                <script src="~/plugins/jquery-circliful/js/jquery.circliful.min.js"></script>
                <script src="~/plugins/jquery-sparkline/jquery.sparkline.min.js"></script>

               

                <!-- skycons -->
                  <script src="~/plugins/skyicons/skycons.min.js" type="text/javascript"></script>

                <!-- Page js  -->
                <script src="~/assets/pages/jquery.dashboard.js"></script>

              <script src="~/plugins/custombox/dist/custombox.min.js"></script>
              <script src="~/plugins/custombox/dist/legacy.min.js"></script>
                <!-- Custom main Js -->
                <script src="~/assets/js/jquery.core.js"></script>
                <script src="~/assets/js/jquery.app.js"></script>


                @RenderSection("scripts", required: false)

   

                <script type="text/javascript">
                    jQuery(document).ready(function ($) {
                        $('.counter').counterUp({
                            delay: 100,
                            time: 1200
                        });
                        $('.circliful-chart').circliful();
                    });

                    // BEGIN SVG WEATHER ICON
                    if (typeof Skycons !== 'undefined') {
                        var icons = new Skycons(
                                { "color": "#3bafda" },
                                { "resizeClear": true }
                                ),
                                list = [
                                    "clear-day", "clear-night", "partly-cloudy-day",
                                    "partly-cloudy-night", "cloudy", "rain", "sleet", "snow", "wind",
                                    "fog"
                                ],
                                i;

                        for (i = list.length; i--;)
                            icons.set(list[i], list[i]);
                        icons.play();
                    };

                </script>


</body>
</html>




