﻿<div class="sidebar-inner slimscrollleft">
    <div id="sidebar-menu">
        <ul>

            <li>
                <a href="/home/index" class="waves-effect waves-primary">
                    <i class="md md-dashboard"></i><span>Dashboard</span>
                </a>
            </li>




            <li class="has_sub">
                <a href="javascript:void(0);" class="waves-effect waves-primary">
                    <i class="md md-palette"></i> <span>AAAA</span>
                    <span class="menu-arrow"></span>
                </a>
                <ul class="list-unstyled">

                    <li><a href="/LocationMangement/index">AAA</a></li>

                    <li><a href="/Department/index">AA</a></li>

                    <li><a href="/TicketType/index">AA</a></li>
                </ul>
            </li>



            <li class="has_sub">
                <a href="javascript:void(0);" class="waves-effect waves-primary">
                    <i class="md md-palette"></i> <span></span>
                    <span class="menu-arrow"></span>
                </a>
                <ul class="list-unstyled">
                    <li><a href="/users/AppContollerRoles"></a></li>
                    <li><a href="/users/Roles"></a></li>
                    <li><a href="/users/Groups"></a></li>
                </ul>
            </li>


            <li class="has_sub">
                <a href="javascript:void(0);" class="waves-effect waves-primary">
                    <i class="md md-palette"></i> <span> </span>
                    <span class="menu-arrow"></span>
                </a>
                <ul class="list-unstyled">

                    <li><a href="/Employees/index"></a></li>

                    <li><a href="/Jobs/index"></a></li>

                    <li><a href="/WorkSystem/index"></a></li>
                </ul>
            </li>


        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
</div>

<div class="user-detail">
    <div class="dropup">
        <a href="" class="dropdown-toggle profile" data-toggle="dropdown" aria-expanded="true">
            <img src="/assets/images/users/avatar-2.jpg" alt="user-img" class="img-circle">
            <span class="user-info-span">
                <h5 class="m-t-0 m-b-0">@User.Identity.Name</h5>
                <p class="text-muted m-b-0">
                    <small><i class="fa fa-circle text-success"></i> <span>Online</span></small>
                </p>
            </span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="javascript:void(0)"><i class="md md-face-unlock"></i> Profile</a></li>
            <li><a href="javascript:void(0)"><i class="md md-settings"></i> Settings</a></li>
            <li><a href="javascript:void(0)"><i class="md md-lock"></i> Lock screen</a></li>
            <li><a href="javascript:void(0)"><i class="md md-settings-power"></i> Logout</a></li>
        </ul>
    </div>
</div>
