﻿
@{
//ViewBag.Title = GlobalRes.Cus;
}


<div id="content">

    <!-- widget grid -->
    <section id="widget-grid" class="">

        <!-- START ROW -->
        <div class="row">

            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
                    <input type="button" id="AddNew" onclick="Create()" class="btn yellow " value="@GlobalRes.btnAdd" />
                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">

                            <form class="smart-form">
                                <br />
                                <div id="SearchTableContainer"></div>
                            </form>

                        </div>
                        <!-- end widget content -->

                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->

            </article>
            <!-- END COL -->

        </div>

        <!-- END ROW -->
    </section>
    <!-- end widget grid -->

    <div class="modal fade" id="myModalAddEdit" role="dialog" data-backdrop="static"></div>

</div>
                @*<div class="modal fade" id="myModalAddEdit" role="dialog" data-backdrop="static">*@





                @section scripts {


                    <script src="@Url.Content("~/Areas/BasicInput/Scripts/MangeCustomers.js")"></script>

                    <script type="text/javascript">

                        $(document).ready(function () {
                            ManageCustomers.init();

                        })

                    </script>
                }

