﻿
@model IEnumerable<CustomerVm>

<div class="row">
    <div class="col-12">
        <div class="card-box table-responsive">
            @*<h4 class="m-t-0 header-title"><b>Default Example</b></h4>
            <p class="text-muted font-13 m-b-30">
                DataTables has most features enabled by default, so all you need to do to use it with your own tables is to call the construction function: <code>$().DataTable();</code>.
            </p>*@
            <table class="table table-striped table-bordered table-hover datatable" width="100%">
                <thead>
                    <tr>
                        <th>@BasicInputRes.Id</th>
                        <th>@BasicInputRes.NameAr</th>
                        <th>@BasicInputRes.NameEn</th>
                        <th>@Customers.Resources.Customers.CustomerRes.CustomerAddress</th>
                        <th>@Customers.Resources.Customers.CustomerRes.CustomerWebSite</th>
                        <th>@Customers.Resources.Customers.CustomerRes.Details</th>



                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
            {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.NameAr</td>
                            <td>@item.NameEn</td>
                            <td>@item.CustomerAddress</td>
                            <td>@item.CustomerWebSite</td>
                            <td>@item.Details</td>




                            <td>
                                <div class="btn-group display-inline pull-right text-align-left hidden-tablet">
                                    <button class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-cog fa-lg"></i>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-xs pull-right">
                                        <li>
                                            <button type="button" class="fa fa-pencil-square-o" id="btnUpdate" onclick="Edit(@item.Id)"></button>
                                        </li>
                                        <li class="divider"></li>
                                        <li>
                                            <button type="button" class="fa fa-trash" id="btnDelete" onclick="Delete(@item.Id)"></button>
                                        </li>
                                        <li class="divider"></li>
                                        <li class="text-align-center">
                                            <a href="javascript:void(0);"><i class="fa fa-times" aria-hidden="true"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
        </div>
    </div>
        <script type="text/javascript">
            $(function () {
                $('.datatable').DataTable();

                //Buttons examples
                var table = $('#datatable-buttons').DataTable({
                    lengthChange: false,
                    buttons: ['copy', 'excel', 'pdf']
                });

                table.buttons().container()
                        .appendTo('#datatable-buttons_wrapper .col-md-6:eq(0)');
            });


        </script>




