﻿@model Customers.Model.Employees.EmployeesConditionsVm


<div class="row">

    <div class="col-md-2">
        @Html.LabelFor(mode => mode.CondionId, htmlAttributes: new { @class = "control-label" })
    </div>
    <div class="col-md-4">

        @Html.EditorFor(model => model.CondionId, new { htmlAttributes = new { @class = "form-control input-circle" } })
    </div>


</div>

