﻿
@model IEnumerable<Customers.Model.Employees.EmployeesConditionsVm>

<div class="row">
    <div class="col-12">
        <div class="card-box table-responsive">
            <table class="table table-striped table-bordered table-hover datatable" width="100%">
                <thead>
                    <tr>

                        <th>الكود</th>
                        <th>اسم الشرط</th>





                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
            {
                        <tr>

                            <td>@item.Id</td>
                            <td>@item.ConditionName</td>






                    <td>
                        <div class="btn-group display-inline pull-right text-align-left hidden-tablet">
                            <button class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-cog fa-lg"></i>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-xs pull-right">
                                <li>
                                    @*<button type="button" class="fa fa-pencil-square-o" id="btnUpdate" onclick="EditComm(@item.Id,'@item.Name','@item.JobeName','@item.PhoneNumber','@item.Email')"></button>*@
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <button type="button" class="fa fa-trash" id="btnDelete" onclick="DeleteItems(@item.Id)"></button>
                                </li>
                                <li class="divider"></li>
                                <li class="text-align-center">
                                    <a href="javascript:void(0);"><i class="fa fa-times" aria-hidden="true"></i></a>
                                </li>
                            </ul>
                        </div>
                    </td>

                </tr>
                    }
                </tbody>
            </table>
        </div>
        </div>
    </div>

<script type="text/javascript">
            $(function () {
                $('.datatable').DataTable();

                //Buttons examples
                var table = $('#datatable-buttons').DataTable({
                    lengthChange: false,
                    buttons: ['copy', 'excel', 'pdf']
                });

                table.buttons().container()
                        .appendTo('#datatable-buttons_wrapper .col-md-6:eq(0)');
            });


</script>








